body {
    font-family: Arial, sans-serif;
    background-color: #e4dede;
    max-width: 1200px;
    margin: 0 auto;
}

/*FORMULARIO DE INICIO DE SESION*/
#loginForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    padding: 20px;
    background-color: rgb(197, 197, 197);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;  /* Alineación de elementos al centro */
}


/*ESTILOS DE BOTONES E INPUT*/
input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block; /* Hace que los elementos de entrada sean bloques para que tengan su propia línea */
    margin: 0 auto; /* Centra los elementos de entrada en su línea */
}

button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    display: block; /* Hace que los botones sean bloques para que tengan su propia línea */
    margin: 10px auto; /* Centra los botones en su línea y añade un margen de 10px arriba y abajo */
}

/* Estilo para el botón de registro */
#registerButton {
    background-color: #28a745;  /* Un tono de verde */
}


/*ESTILOS PARA EL FORMULARIO DE REGISTRO*/
#registroFormulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    padding: 20px;
    background-color: rgb(197, 197, 197);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;  /* Alineación de elementos al centro */
}

#guardar{
    margin-top: 50px;
    background-color: #28a745;
    
}

#mostrar{
    background-color: #28a745;
}

#listasBoton{
    background-color: #28a745;
}

#productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media print {
    .no-print {
        display: none;
    }
}

.categoria {
    margin-bottom: 20px;
}

.productosCategoria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.producto {
    margin: 10px;
    text-align: center;
}

.producto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/*MENSAJE TEMPORAL*/
#message {
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    background-color: #008000;
    color: white;
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1000;
}

#message.show {
    opacity: 1;
}

/*BOTON REGRESAR*/
.back-button {
    font-size: 34px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 150px;
    color: #2b2c2b;
}








