:root {
    --primary-color: #f8f6eb;
    --secondary-color: #1f7551;
    --tertiary-color: #1f7551;
    /* Y así sucesivamente para el resto de tus colores */
  }

  
h1 {
    color: var(--secondary-color);
  }
  
  p {
    color: var(--tertiary-color);
    font-weight: bold;
  }


body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    max-width: 1200px;
    margin: 0 auto;
}

/*FORMULARIO DE INICIO DE SESION*/
#loginForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    padding: 20px;
    background-color: #1f7551;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;  /* Alineación de elementos al centro */
    border-radius: 15px;
}


/*ESTILOS DE BOTONES E INPUT*/
input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #1f7551;
    display: block; /* Hace que los elementos de entrada sean bloques para que tengan su propia línea */
    margin: 0 auto; /* Centra los elementos de entrada en su línea */
}

button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#ffe177;
    color: #1f7551;
    display: block; /* Hace que los botones sean bloques para que tengan su propia línea */
    margin: 10px auto; /* Centra los botones en su línea y añade un margen de 10px arriba y abajo */
    font-weight: bold;
}

/* Estilo para el botón de nuevo usuario */
#registerButton {
    background-color: #ffe177;  /* Un tono de verde */
    color: #1f7551;
}

#newUser {
    background-color: #9dc2b7;  /* Un tono de verde */
    color: #1f7551;
}

  
/*ESTILOS PARA EL FORMULARIO DE REGISTRO*/
#registroFormulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    padding: 20px;
    background-color: #1f7551;
    box-shadow: 0px 0px 10px #1f7551;
    text-align: center;
    border-radius: 15px;
}

input {
    background-color: #f8f6eb; /* Sustituye esto por tu color de fondo deseado */
  }
  
  input::placeholder {
    color: #1f7551; /* Sustituye esto por tu color de placeholder deseado */
  }
  

/*SELECT DENTRO DEL FORMULARIO DE REGISTRO*/
#registroFormulario select {
    width: 90%; /* Asegura que ocupa todo el ancho disponible */
    height: 35px; /* Elige la altura que prefieras */
    margin-bottom: 10px; /* Margen inferior, similar a los inputs */
    padding: 5px; /* Espacio interior para el texto */
    font-size: 14px; /* Tamaño de la fuente */
    border: none; /* Elimina el borde por defecto */
    border-radius: 3px; /* Añade esquinas redondeadas */
    background-color: #f8f6eb; /* Color de fondo */
    color: #1f7551;
}


#guardar{
    margin-top: 50px;
    background-color: #9dc2b7;
    
}

#mostrar{
    background-color: #9dc2b7;
}

#listasBoton{
    background-color: #9dc2b7;
}

#productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media print {
    .no-print {
        display: none;
    }
}

.categoria {
    margin-bottom: 20px;
}

.productosCategoria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.producto {
    margin: 10px;
    text-align: center;
}

.producto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/*MENSAJE TEMPORAL*/
#message {
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    background-color: #1f7551;
    color: #ffe177;
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1000;
}

#message.show {
    opacity: 1;
}

/*BOTON REGRESAR*/
.back-button {
    font-size: 34px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 150px;
    color: #1f7551;
}








